<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Создать участок</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Наименование участка</label>
      <input class="form-control" [(ngModel)] = "label">
    </div>
    <div class="form-group">
      <label>Тип характеристики</label>
      <select class="form-control" [(ngModel)] = "selectedAreaTemplate" (change) = "buildArea()">
        <option [ngValue]="null"></option>
        <option *ngFor="let areaTemplate of areaTemplates" [ngValue]="areaTemplate">{{areaTemplate.label}}</option>
      </select>
    </div>

    <div *ngIf="selectedAreaTemplate">
      <div class="form-group">
        <label>Диапазон участка </label>
        <div class="form-group row">
          <label class="col-2 col-form-label">начало</label>
          <div class="col-4">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)] ="currentArea.xStart">
              <span class="input-group-addon" id="basic-addon2">А</span>
            </div>
          </div>
          <label class="col-2 col-form-label">конец</label>
          <div class="col-4">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)] ="currentArea.xEnd">
              <span class="input-group-addon">А</span>
            </div>
          </div>

        </div>
      </div>


      <!-- 0 equal to POINTS-->
      <div *ngIf="currentArea.type == 0">
        POINTS
      </div>
      <!-- 1 equal to EXPRESSION or INDEPENDENT-->
      <div *ngIf="currentArea.type == 1 ||currentArea.type == 2 ">

        <div class="form-group">
          <label>Параметры характеристики</label>
          <div class="form-group row"
            *ngFor = "let variableDesc of currentArea.areaTemplate.variableDescriptions">
            <label class="col-4 col-form-label">{{variableDesc.labelForUser}}</label>
            <div class="col-8">
              <input class="form-control" type="text" [(ngModel)] = "currentArea.variables[variableDesc.label]">
            </div>
          </div>
        </div>

      </div>

    </div>






  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="d()">Close</button>
  </div>


</template>

<button class="btn btn-primary" (click)="open()">Создать участок</button>
