<ngb-carousel id="wrap-slider">
  <template ngbSlide>
    <div class="image-slider" style="background-image: url('img/slider/001.jpg')"></div>
    <div class="back-item-slider"></div>
    <div class="text-item-slider">
      <h1>Кто мы?</h1>
      <p>
        Мы люди, которые тем или иным образом были связаны
        с энергетикой и испытываем к ней неподдельный интерес.
        Кроме всего прочего, мы убеждены, что она не только одна
        из основополагающей отраслей экономики, но и является одним
        из критерием оценки независимости и безопасности любой страны.</p>
      <button class="btn btn-primary">ПОДРОБНЕЕ</button>
    </div>
  </template>
  <template ngbSlide>
    <div class="image-slider" style="background-image: url('img/slider/002.jpg')"></div>
    <div class="back-item-slider"></div>
    <div class="text-item-slider">
      <h1>Чем и кем мы вдохновлены?</h1>
      <p>
        Вдохновлены людьми, которые обладают бесценным
        опытом и желанием им делиться с другими. Людьми,
        которые применяют в своей работе все доступные инструменты,
        независимо от профессиональной области и уровня им владения.</p>
      <button class="btn btn-primary">ПОДРОБНЕЕ</button>
    </div>
  </template>
  <template ngbSlide>
    <div class="image-slider" style="background-image: url('img/slider/003.jpg')"></div>
    <div class="back-item-slider"></div>
    <div class="text-item-slider">
      <h1>Какие наши планы?</h1>
      <p>
        Основная цель попытаться объединить для энергетиков самое лучшее на одном портале,
        черпая идея с уже существующих ресурсов с применением новейших технологий в web-разработке,
        предоставляемых гигантами IT-сферы (Google, Facebook, Oracle, Twitter).</p>
      <button class="btn btn-primary">ПОДРОБНЕЕ</button>
    </div>
  </template>
  <template ngbSlide>
    <div class="image-slider" style="background-image: url('img/slider/004.jpg')"></div>
    <div class="back-item-slider"></div>
    <div class="text-item-slider">
      <h1>На что мы надеемся?</h1>
      <p>
        Надеемся на поддержку со стороны профессионального сообщества
        в развитии проекта за счет обратной связи и помощи в определении
        стратегии дальнейшей работы, а также использованием предоставленными
        инструментами. Для нас это хобби, которое хотелось бы совместить с полезным.</p>
      <button class="btn btn-primary">ПОДРОБНЕЕ</button>
    </div>
  </template>

</ngb-carousel>


