<div class="container wrap-tools">
  <div class="wrap-tool">
    <span class="data-publication">Опубликовано 04 марта 2017</span>
    <div class="wrap-authors">
      <div class="author">
        <img src="img/topolev.jpg"/>
        <div class="author-description">
          <p>Владимир</p>
          <a href="/">@topolev</a>
        </div>
      </div>
      <div class="author">
        <img src="img/nologo.png"/>
        <div class="author-description">
          <p>Андрей</p>
          <a href="/">@abramenko</a>
        </div>
      </div>
    </div>
    <a class="name-tool" routerLink="/time-current-characteristics" routerLinkActive="active">Построение время-токовых
      характеристик</a>
    <div>
      Для оценки селективности срабатывания защит часто приходится строить время-токовые характеристики.
      Для их построения можно использовать различные подручные средства: начиная с построения в ручную
      на листе бумаге, заканчивая использованием MathCad. Excel.
      Мы разаработали свой инструмент, который в себя будет включать только самое необходимое, что
      надеемся в конечном итоге сможет сохранить Вам время и сфокусироваться на более важных расчетах.
    </div>
    <div class="wrap-labels">
      <i class="fa fa-tags" aria-hidden="true"></i>
      <a>РЗА</a>,<a>Расчет уставок</a>,<a>Сети 10кВ</a>
    </div>
  </div>
</div>
